.btns_cont_videopage
{
display: flex;
flex-direction: row-reverse;
flex-grow: 5;
}

.btn_videopage
{
    margin: auto 0;
    display: flex;
}
.like_videopage
{
    margin: 0.5rem;
    display: flex;
    cursor: pointer;
}
.btns_videopage
{
    margin: auto 0.5rem;
}