.video-container {
    position: relative;
   
    display: inline-block;
}


.video_element
{
    display: block;
}

.overlay 
{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}
.middle
{
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 200px;
    background-color: transparent;

}

.right
{
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
    background-color: transparent;
}

.left 
{
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
    background-color: transparent;

}

.right_corner
{
    height: 200px;
    width: 200px;
    top: 6%;
    right: 0;
    background-color: transparent;


}